h1 Carpool 请求志愿者匹配通知
p 你好，你之前的请求（下附）
== render 'email/_request_pub'
p 已经被志愿者 #{@vol.name} 自愿匹配！志愿者具体信息已经附上：
== render 'email/_volunteer_pub'

p 我们十分推荐尽早主动按照以上信息去联系志愿者。
p 志愿者有可能会在一两天之内主动联系你，请主动查询自己留下的联系方式的动态。
